<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheide AG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .jumbotron {
            padding: 200px;
            margin: 200px 0;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">ZEIG SCHEIDE!</h1>

        <a class="btn btn-primary btn-lg" href="#" role="button">PP schicken</a>
        </p>
    </div>
</div>


</body>
</html>